<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
</head>
<body>
	<p>Login Page</p>
<!-- 	<form method="post" th:action="@{/login}" th:object="${user}"> -->
	<form method="post" th:action="@{/login}">
	    <p> Email: <input type="text" name="userMail"/> </p>
	    <p> Password: <input type="password" name="userPassword"/> </p>
	    <p> <input type="submit" value="Login"/> </p>
	</form>
</body>
</html>